.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.number{
  background: azure;
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  &:hover{
    border: 1px dashed blue
  }
  &.active{
    border: 2px solid darkblue;
  }
}

p{
  margin: auto;
  text-align: center;
}
